.footer {
    padding-top: 150px;
    margin-top: 10px;
    padding-bottom: 78px;
    background-image: url('../img/bg-footer.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    .container {
        grid-auto-flow: column;
        gap: 140px;
        
    }
    &__item {
        display: grid;
        gap: 15px;
        max-width: 210px;
        justify-content: center;
    }
    a {
        color:black;
        &:hover {
            color: rgba(0, 0, 0, 0.7);
        }   
    }
}

@media (max-width: 1024px) {
    .footer {
       padding-top: 80px;
    }
}

@media (max-width: 850px) {
    .footer {
       padding-top: 80px;
       .container {
        gap: 50px;
       }
    }
}

@media (max-width: 470px) {
    .footer {
       padding-top: 40px;
       font-size: 12px;
       .container {
        gap: 20px;
       }
    }
}