* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.3s;
}

.container {
    display: grid;
    max-width: 1250px;
    margin: 0 auto;
}

@media (max-width: 1024px) {
    .container {
        max-width: 95%;
    }
}

